In [2]:
import pandas as pd
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics.pairwise import cosine_similarity
import pandas as pd

In [4]:
# data set importeren
df = pd.read_csv('Opgeschoonde_VKM_dataset.csv')
df.head(2)

,id,name,shortdescription,description,studycredit,location,contact_id,level,learningoutcomes,module_tags,interests_match_score,popularity_score,estimated_difficulty,available_spots,start_date
0,159,kennismaking met psychologie,"brein, gedragsbeinvloeding, ontwikkelingspsych...",in deze module leer je hoe je gedrag van jezel...,15,den bosch,58,nlqf5,a. je beantwoordt vragen in een meerkeuze kenn...,"['brein', 'gedragsbeinvloeding', 'ontwikkeling...",0.54,319,1,79,2025-12-24
1,160,learning and working abroad,"internationaal, persoonlijke ontwikkeling, ver...",studenten kiezen binnen de (stam) van de oplei...,15,den bosch,58,nlqf5,de student toont professioneel gedrag conform ...,"['internationaal', 'persoonlijke', 'ontwikkeli...",0.92,172,5,56,2025-12-20

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 211 entries, 0 to 210
Data columns (total 15 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   id                     211 non-null    int64
 1   name                   211 non-null    object
 2   shortdescription       211 non-null    object
 3   description            211 non-null    object
 4   studycredit            211 non-null    int64
 5   location               211 non-null    object
 6   contact_id             211 non-null    int64
 7   level                  211 non-null    object
 8   learningoutcomes       211 non-null    object
 9   module_tags            211 non-null    object
 10  interests_match_score  211 non-null    float64
 11  popularity_score       211 non-null    int64
 12  estimated_difficulty   211 non-null    int64
 13  available_spots        211 non-null    int64
 14  start_date             211 non-null    object
dtypes: float64(1), int64(6), object(8)
memory usage: 24.9+ KB

In [6]:
df.duplicated(subset='name').sum()

np.int64(9)